@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

#root, html, body{
    height: 100vh;
}

body {
    margin: 0;
    text-transform: lowercase;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
